      <!--banner section -->
      <div id="banner_wrapp">
        <div id="banner"><img src="./images/kids.jpg" alt="" /></div>
           <div id="banner_accordion">
          <div class="acord_box">
            <div class="hdaccor">
              <h2>التصنيف حسب</h2>
            </div>
            <div class="slideaccor">
              <h5>عن طريق الاهمية</h5>
              <ul>
                <%=form_tag('/needs') do %>
                    <%=select_tag "category_id", options_from_collection_for_select(@categories, "id", "name"), {:onchange => "go();"}%>
                <%end%>             
                <li><a href="#" class="active">Browse undergraduate</a></li>
                <li><a href="#">Browse postgraduate</a></li>
                <li><a href="#">Browse Courses</a></li>
                <li><a href="#">Others</a></li>
              </ul>
          </div>
        </div>
        </div>
      </div>
<!--
      <div class="study_programs">
        <ul>
          <li><a href="#"><img src="./images/img-md1.jpg" alt="" /></a>
            <div class="programdetail">
              <div class="headingprogram">
                <h2>Study Programs</h2>
              </div>
              <div class="detailprogram">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet sem felis. Donec adipiscing, velit vitae malesuada bibendum, mauris tortor fermentum ante, eu sodales diam quam vitae libero. Quisque sceleri.</p>
                <div class="readmore"> <a href="#"> Read More</a> </div>
              </div>
            </div>
          </li>
          <li><a href="#"><img src="./images/img-md2.jpg" alt="" /></a>
            <div class="programdetail">
              <div class="headingprogram">
                <h2>Study Department</h2>
              </div>
              <div class="detailprogram">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet sem felis. Donec adipiscing, velit vitae malesuada bibendum, mauris tortor fermentum ante, eu sodales diam quam vitae libero. Quisque sceleri.</p>
                <div class="readmore"> <a href="#"> Read More</a> </div>
              </div>
            </div>
          </li>
          <li><a href="#"><img src="./images/img-md3.jpg" alt="" /></a>
            <div class="programdetail">
              <div class="headingprogram">
                <h2>Computer Technology</h2>
              </div>
              <div class="detailprogram">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet sem felis. Donec adipiscing, velit vitae malesuada bibendum, mauris tortor fermentum ante, eu sodales diam quam vitae libero. Quisque sceleri.</p>
                <div class="readmore"> <a href="#"> Read More</a> </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
-->
      <!--News and spotlight container -->
      <div class="outer_row">
        <div class="col-left">
          <div class="spotlight_slider">
            <h2>انجازات</h2>
            <%Need.satisfied.last(4).each do |n|%>
            <div class="news_box">  <span class="date"> <img src="./images/img-ico-calendar.gif" alt="" /> <strong>26 April</strong> </span> 
              <div class="spot_desc">
                <h3><%=n.title%></h3>
                <p> <%=n.description%></p>
              </div>
            </div>

            <%end%>
          </div>
          <div class="news_slider">
            <h2><%= link_to("احتياجات", needs_url)%></h2>
            <%Need.first(4).each do |need|%>
                <div class="news_box"> <span class="date"> <img src="./images/img-ico-calendar.gif" alt="" /> <strong>26 April</strong> </span>
                  <div class="news_desc">
                    <h3><a href="#"><%= link_to(need.title, need) %></h3>
                    <p><%= need.description%></p>
                  </div>
                </div>
            <%end%>        
          </div>
        </div>
        <div class="col-right">
          <div class="newsletter">
            <h2>University NewsLetter</h2>
			<a href="#">Submit</a>
            <input type="text" value="Enter Email Address" onfocus="if(this.value == 'Enter Email Address') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Enter Email Address'; }" />
             </div>
          <div class="coursesearch">
            <h2>Course Finder</h2>
            <ul>
              <li>
                <label>Enter a Keyword</label>
                <input type="text" value="Search you any keyword" class="txt1" onfocus="if(this.value == 'Search you any keyword') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search you any keyword'; }" />
              </li>
              <li> <span class="left">
                <label>Degree Type</label>
                <select>
                  <option />Undergraduate
                </select>
                </span> <span class="right">
                <label>Session</label>
                <select>
                  <option />2011-12
                </select>
                </span> </li>
              <li> <span class="left">
                <label>Campus</label>
                <select>
                  <option />Undergraduate
                </select>
                </span> <span class="right">
                <label>Resident Type</label>
                <span class="groupradio">
                <label>
                <input type="radio" name="city" checked="checked" />
                Uk </label>
                <label>
                <input type="radio" name="city" />
                Wales</label>
                </span> </span> </li>
              <li><a href="#" class="btn_search"><span>Search</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <br class="clear" />
    </div>

<script type=text/javascript>
function go(){
    alert($('#category_id option:selected'));
}
</script>
