      <!--banner section -->
<!--
      <div class="study_programs">
        <ul>
          <li><a href="#"><img src="./images/img-md1.jpg" alt="" /></a>
            <div class="programdetail">
              <div class="headingprogram">
                <h2>Study Programs</h2>
              </div>
              <div class="detailprogram">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet sem felis. Donec adipiscing, velit vitae malesuada bibendum, mauris tortor fermentum ante, eu sodales diam quam vitae libero. Quisque sceleri.</p>
                <div class="readmore"> <a href="#"> Read More</a> </div>
              </div>
            </div>
          </li>
          <li><a href="#"><img src="./images/img-md2.jpg" alt="" /></a>
            <div class="programdetail">
              <div class="headingprogram">
                <h2>Study Department</h2>
              </div>
              <div class="detailprogram">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet sem felis. Donec adipiscing, velit vitae malesuada bibendum, mauris tortor fermentum ante, eu sodales diam quam vitae libero. Quisque sceleri.</p>
                <div class="readmore"> <a href="#"> Read More</a> </div>
              </div>
            </div>
          </li>
          <li><a href="#"><img src="./images/img-md3.jpg" alt="" /></a>
            <div class="programdetail">
              <div class="headingprogram">
                <h2>Computer Technology</h2>
              </div>
              <div class="detailprogram">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet sem felis. Donec adipiscing, velit vitae malesuada bibendum, mauris tortor fermentum ante, eu sodales diam quam vitae libero. Quisque sceleri.</p>
                <div class="readmore"> <a href="#"> Read More</a> </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
-->
      <!--News and spotlight container -->
      <div class="outer_row">
        <div class="col-left">
          <div class="spotlight_slider">
            <h2>انجازات</h2>
            <%Need.satisfied.last(4).each do |n|%>
            <div class="news_box">  <span class="date"> <img src="./images/img-ico-calendar.gif" alt="" /> <strong>26 April</strong> </span> 
              <div class="spot_desc">
                <h3><%=n.title%></h3>
                <p> <%=n.description%></p>
              </div>
            </div>

            <%end%>
          </div>
          <div class="news_slider">
            <h2><%= link_to("احتياجات", needs_url)%></h2>
            <%Need.first(4).each do |need|%>
                <div class="news_box"> <span class="date"> <img src="./images/img-ico-calendar.gif" alt="" /> <strong>26 April</strong> </span>
                  <div class="news_desc">
                    <h3><a href="#"><%= link_to(need.title, need) %></h3>
                    <p><%= need.description%></p>
                  </div>
                </div>
            <%end%>        
          </div>
        </div>
        <div class="col-right">
          
          <div class="coursesearch">
            <h2>ابحث عن حالة</h2>
            <ul>
              <li>
                <label>ادخل كلمة البحث</label>
                <input type="text" value="كلمة البحث" class="txt1" onfocus="if(this.value == 'Search you any keyword') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search you any keyword'; }" />
              </li>
              <li> <span class="left">
                <label>شهر</label>
                <select>
                  <option />مارس
                </select>
                </span> <span class="right">
                <label>السنة</label>
                <select>
                  <option />2011-12
                </select>
                </span> </li>
              <li> <span class="left">
                <label>نوع الحالة</label>
                <select>
                  <option />حرجة
                </select>
                </span> </li>
              <li><a href="#" class="btn_search"><span>بحث</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <br class="clear" />
    </div>


